# Python
__pycache__/
*.pyc
venv/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# AWS CLI bundle
awscliv2.zip
aws/

# Docker
*.log

# IDE
.vscode/
.idea/

# Jenkins
jenkins_home/
